.display{
    min-height: 100vh;
    height: 100vh;
    width: 99vw;
}
body{
    margin: 0;
    background-color: black;
}
.displayContainer{
    height: 10%;
    width: 100%;
}
.navdisplay{
    height: 100%;
}
.mynavbar{
    align-content: center;
    justify-content: space-around;
    height: 100%;
}
.mynavbar input{
    display: unset;
    width: 75%;
    margin-right: 10%;
}
form{
    height: 5vh;
    width: 45%;
    display: flex;
}
h1{
    padding-top: 2%;
    text-align: center;
}
.resultsContainer{
    border-top: 1px solid white;
    display: flex;
    justify-content: space-evenly;
}
.homeContainer{
    height: 90%;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    color: white
}
.searchFooter{
    height: 10%;
}
.resultsContainer1{
    height: 90%;
    width: 100%;
    color: white    
}
.card{
    width: 46%;
    border: 1px white solid;
    margin:30%;
    border-radius:1.395vw ;
}
.card img{
    border-radius:1.395vw ;

}
.cols{
    width: 20%;
    height: fit-content;
    border: 1px solid red;
    border-radius:1.395vw ;
}

.autoCompleteContainer{
    height: 22vh;
    width: 75%;
    position: relative;
    background-color: white;
    overflow: scroll;
}
.searchCard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    cursor: pointer;
    border-bottom: 1px solid grey;
}
.logo{
    cursor: pointer;
}